body{
    padding: 0%;
    margin: 0%;
    height: 100vh;
    width: 100vw;

}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#clock{
    height: 80px;
    width: 180px;
    border: 5px solid black;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-family:monospace
}