*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 80%;
    background-color: plum;
    padding: 34px;
    margin: auto;


}
.container h3,p{
    text-align: center;
}