*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }
html,body{
    font-family: "Poppins", sans-serif;
    

}
.container{
    max-width: 80%;
    /* background-color: plum; */
    padding: 34px;
    margin: auto;


}
.container h1,p{
    text-align: center;
/* color: aliceblue; */
}

p{
    font-size: 16px;
    font-weight: 500;
}
input,textarea{
    /* display: block; */
    font-size: 16px;
    width: 80%;
    margin: 11px auto;
    padding: 7px;
    border: 2px solid black;
    border-radius: 6px;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btn{
    color: aliceblue;
    background-color: purple;
    font-size: 20px;
    padding: 15px 10px;
    border: 2px solid white;
    border-radius: 14px;
    cursor: pointer;
}
.bg{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.6;
}
.thank{
    font-size: 20px;
    color: green;
    

}