<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Document</title>
</head>
<body>
    <!-- Including header file which is in the common folder -->
    <%- include('common/header'); %>
    <h1>Login Page
    </h1>
</body>
</html>